.divItem{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.ImgItem{
    display:block;
    height:600px;
    width:400px;
}
#app {
    background: linear-gradient(to right, #8360c3, #2ebf91);
}